* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content-box {
  display: flex;
  flex-direction: column;
  width: 50vw;
}
.table-format {
  display: flex;
  flex-direction: column;
}
.subtr-div {
  display: flex;
}
.tr-div {
  display: flex;
}
.th-div {
  border: 1px solid black;
  padding: 2px;
  width: 150px;
  font-weight: bold;
}
.td-div {
  border: 1px solid grey;
  padding: 2px;
  margin: 1px 1px;
  width: 148px;
}

.button-box {
  display: flex;
  justify-content: space-between;
  width: 10em;
}
button {
  background-color: lightskyblue;
  border-radius: 3px;
  padding: 3px;
  margin-top: 3px;
  margin-left: 2px;
}
.total-box {
  display: flex;
  justify-content: space-between;
  background-color: skyblue;
  margin-top: 3px;
}
p {
  margin: 5px;
}
.count-box {
  display: flex;
  justify-content: space-between;
  width: 20em;
}
#total {
  margin-left: 20px;
  font-weight: bold;
}
#totalValue {
  font-weight: bold;
}
input {
  border: none;
  margin: 2px 5px;
  align-self: center;
}
